@import "../../constants/colors.scss";
//variables
$t-purple: #8c8aa7;
$pink: #ff5e65;

.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;

    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.GoBackButton {
    margin-top: 2em;
    background-color: $primary-white;
    padding: 0.75em 3em;
    text-decoration: none;
    color: $primary-black;
    font-size: 1.1em;
    border-radius: 0.5em;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(5px);
        box-shadow: 0px 15px 15px -15px rgba(255, 255, 255, 0.57);
        opacity: 0.9;
    }
}

.box__ghost {
    padding: 15px 25px 25px;
    position: relative;
    width: 150px;
    margin: 3em 0;

    .symbol {
        &:nth-child(1) {
            opacity: 0.2;
            animation: shine 4s ease-in-out 3s infinite;

            &:before,
            &:after {
                content: "";
                width: 12px;
                height: 4px;
                background: $primary-white;
                position: absolute;
                border-radius: 5px;
                bottom: 65px;
                left: 0;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        &:nth-child(2) {
            position: absolute;
            left: -5px;
            top: 30px;
            height: 18px;
            width: 18px;
            border: 4px solid;
            border-radius: 50%;
            border-color: $primary-white;
            opacity: 0.2;
            animation: shine 4s ease-in-out 1.3s infinite;
        }
        &:nth-child(3) {
            opacity: 0.2;
            animation: shine 3s ease-in-out 0.5s infinite;

            &:before,
            &:after {
                content: "";
                width: 12px;
                height: 4px;
                background: $primary-white;
                position: absolute;
                border-radius: 5px;
                top: 5px;
                left: 40px;
            }
            &:before {
                transform: rotate(90deg);
            }
            &:after {
                transform: rotate(180deg);
            }
        }
        &:nth-child(4) {
            opacity: 0.2;
            animation: shine 6s ease-in-out 1.6s infinite;

            &:before,
            &:after {
                content: "";
                width: 15px;
                height: 4px;
                background: $primary-white;
                position: absolute;
                border-radius: 5px;
                top: 10px;
                right: 30px;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        &:nth-child(5) {
            position: absolute;
            right: 5px;
            top: 40px;
            height: 12px;
            width: 12px;
            border: 3px solid;
            border-radius: 50%;
            border-color: $primary-white;
            opacity: 0.2;
            animation: shine 1.7s ease-in-out 7s infinite;
        }
        &:nth-child(6) {
            opacity: 0.2;
            animation: shine 2s ease-in-out 6s infinite;

            &:before,
            &:after {
                content: "";
                width: 15px;
                height: 4px;
                background: $primary-white;
                position: absolute;
                border-radius: 5px;
                bottom: 65px;
                right: -5px;
            }
            &:before {
                transform: rotate(90deg);
            }
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    .box__ghost-container {
        background: $primary-white;
        width: 100px;
        height: 100px;
        border-radius: 100px 100px 0 0;
        position: relative;
        margin: 0 auto;
        animation: upndown 3s ease-in-out infinite;

        .box__ghost-eyes {
            position: absolute;
            left: 50%;
            top: 45%;
            transform: translate(-50%, -45%);
            height: 12px;
            width: 70px;

            .box__eye-left {
                width: 12px;
                height: 12px;
                background: $custom-blue;
                border-radius: 50%;
                margin: 0 10px;
                position: absolute;
                left: 0;
            }
            .box__eye-right {
                width: 12px;
                height: 12px;
                background: $custom-blue;
                border-radius: 50%;
                margin: 0 10px;
                position: absolute;
                right: 0;
            }
        }

        .box__ghost-bottom {
            display: flex;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;

            div {
                flex-grow: 1;
                position: relative;
                top: -10px;
                height: 20px;
                border-radius: 100%;
                background-color: $primary-white;

                &:nth-child(2n) {
                    top: -12px;
                    margin: 0 -0px;
                    border-top: 15px solid $custom-blue;
                    background: transparent;
                }
            }
        }
    }

    .box__ghost-shadow {
        height: 20px;
        box-shadow: 0 50px 15px 5px #3b3769;
        border-radius: 50%;
        margin: 0 auto;
        animation: smallnbig 3s ease-in-out infinite;
    }
}
