$primary-black: #0e0e10; //#0e0e10
$secondary-black: #29292e;
$tertiary-black: #1c1c1c;

$primary-white: #fff;
$secondary-white: #f0f0f0; //#f5f5f5

$custom-blue: #1d70ce;

$temperature-color: #55d8fe;
$humidity-color: #a3a0fb;
$brightness-color: #b9ffa8;

:export {
    primaryBlack: $primary-black;
    secondaryBlack: $secondary-black;
    customBlue: $custom-blue;
    primaryWhite: $primary-white;
    secondaryWhite: $secondary-white;
    temperatureColor: $temperature-color;
    humidityColor: $humidity-color;
    brightnessColor: $brightness-color;
    tertiaryBlack: $tertiary-black;
}
