.hoverBox {
    position: absolute;
    margin-top: 15px;
    color: white;
    background-color: #fff;
    color: black;
    border-radius: 0.5em;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.8em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
