.Wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.IconWrapper {
    padding: 0.8em;
    border-radius: 1em;
    height: 3.5em;
    width: 3.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    p {
        margin: 0;
        &:nth-child(1) {
            opacity: 0.8;
            font-size: 1em;
        }
        &:nth-child(2) {
            font-size: 1.6em;
            font-weight: 600;
        }
    }
}

@media (max-width: 600px) {
    .TextWrapper {
        align-items: center;
        margin: 5px 0 0;
    }
    .Wrapper {
        flex-direction: column;
    }
}
