.Wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.GraphDate {
	width: 40%;
}
.GraphTime {
	width: 40%;
}
.SyncIcon {
	cursor: pointer;
}
@media (min-width: 800px) {
	.Wrapper {
		justify-content: left;
	}
	.GraphDate {
		left: 25px;
		width: auto;
	}
	.GraphTime {
		left: 35px;
		width: auto;
	}
}
