@import "../../../constants/colors.scss";
// Existing variables and their defaults
$nice-dates-color-accent: $custom-blue;
$nice-dates-font-size-small: 8px;
$nice-dates-font-size-base: 14px;
$nice-dates-font-size-big: 16px;

.nice-dates-day_month {
    display: none
}

@import 'react-nice-dates/src/style.scss';

.Wrapper {
    position: relative;
    margin: 20px;
    box-sizing: border-box;
}
.DatePickerInput {
    padding: 4px 7px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: $custom-blue;
    font-size: 22px;
    border-radius: 4px;
    line-height: 1.5;
    outline: none;
    border: none;
}
