@import "../../constants/colors";

.Wrapper {
    padding-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.LeftSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.RightSide {
    margin-right: 15px;
}
.Weather {
    flex: 1;
}
