@import "../../../constants/colors.scss";

.Wrapper {
    position: relative;
    margin: 4em 0;
    width: 100%;

    span {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3em;
        font-weight: 700;
        opacity: 0.1;
        transform: translate(-0.25em, -0.6em);
    }
    h2 {
        color: $primary-white;
        font-size: 3em;
        font-weight: 500;
        margin: 0;
    }

    @media (min-width: 650px) {
        width: 70%;
    }
}
