.Wrapper {
	margin-left: 5px;
	position: relative;
	display: inline;
}
.Text {
	display: inline-block;
	font-size: 12px;
}
.Select {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 5px;
}
@media (min-width: 800px) {
	.Wrapper {
		margin: 10px 20px;
	}
	.Text {
		font-size: 16px;
	}
}
