.Wrapper {
	position: relative;
}
.SelectorWrapper {
	margin-left: 10px;
	position: relative;
	display: inline;
}
.LoaderWrapper {
	position: absolute;
	right: 10px;
	bottom: 0px;
}
.Text {
	display: inline-block;
	font-size: 12px;
}
.Select {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 5px;
	font-size: 12px;
}
.SliderWrapper {
	width: 90%;
	margin-left: 5%;
}
@media (min-width: 800px) {
	.SliderWrapper {
		width: 350px;
		margin-left: 20px;
	}
	.SelectorWrapper {
		margin: 10px 20px;
	}
	.Text {
		font-size: 16px;
		margin: 0 0 5px 0;
	}
	/* .Select {
		font-size: 15px;
	} */
	.LoaderWrapper {
		bottom: 5px;
	}
}
