@import "../../constants/colors.scss";

.Wrapper {
    position: relative;
    padding-right: 0;
    min-height: calc(100vh - 60px);
    margin: 0 1em;
    padding-top: 1em;
    box-sizing: border-box;

    .Headline {
        h1 {
            font-size: 2em;
            position: relative;
            margin: 0 0 0.5em 0;
            padding-bottom: 0.2em;
            font-weight: 500;
            display: inline-block;

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                height: 0.1em;
                width: 20%;
                background-color: $custom-blue;
                border-radius: 0.1em;
            }
        }
    }

    .AcitveValuesBoxes {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: $tertiary-black;
        border-radius: 0.5em;
        padding: 1.5em 0;

        h1 {
            grid-column: 1/4;
            text-align: center;
            font-size: 1.5em;
            font-weight: 500;
            opacity: 0.4;
        }
        .InfoWrapper {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    @media (min-width: 1000px) {
        padding-right: 300px;
        .AcitveValuesBoxes {
            padding: 1.5em 5%;
        }
    }
}
