@import "./constants/colors";

.App {
    background-color: $primary-black;
    color: $primary-white;
    font-size: 14px;
    overflow-x: hidden;

    @media (min-width: 600px) {
        font-size: 16px;
    }
}
