.whitebox {
	position: relative;
	background-color: #ffffff;
	padding: 20px;
	box-shadow: #979797 1px 1px 3px;
	color: #43425d;
	width: 96%;
	margin-left: 2%;
	box-sizing: border-box;
}
.aboutProject {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.aboutProjectText {
	display: flex;
	align-items: center;
	text-align: center;
}
.aboutProjectText p {
	padding: 40px 40px;
}
.image {
	position: relative;
	grid-gap: 10px;
}
.image img {
	width: 55%;
	margin-left: 22.5%;
	object-fit: scale-down;
}
.about_us_title {
	position: relative;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 0;
	/*background-image: linear-gradient(to right, white, rgb(67, 66, 93, .1), white);*/
}
.about_us_title::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 250px;
	height: 2.5px;
	background-color: #43425d;
	border-radius: 5px;
}
.about_us {
	display: grid;
	margin: 30px 0;
}
.about_us div {
	text-align: center;
}
.about_us div p {
	font-size: .9em;
}
@media (min-width: 800px) {
	.aboutProject {
		margin: 50px 0;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);
	}
	.about_us {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 25px;
	}
}
