@import "../../constants/colors.scss";

.Wrapper {
    min-height: calc(100vh - 60px);
    margin: 0 10%;

    .Heading {
        padding-top: 2em;
        h1 {
            position: relative;
            font-size: 2.5em;
            text-align: center;
            margin: 0;
            z-index: 2;
            &::before {
                content: "O nás";
                position: absolute;
                top: -0.5em;
                left: 50%;
                opacity: 0.05;
                font-size: 1.5em;
                transform: translateX(-50%);
                width: 100%;
                z-index: -1;
            }
        }
    }

    .MainContent {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 1em;
        margin: 2em 0;

        .ImageWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                object-fit: contain;
                margin: auto;
            }
        }
        .InfoWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin-bottom: 1.5em;
            }
            .GithubButton {
                text-decoration: none;
                align-self: flex-start;
                div {
                    background-color: #fff;
                    transition: all ease-in-out 0.2s;
                    border-radius: 0.5em;
                    padding: 0.5em 1.5em;
                    box-sizing: border-box;
                    display: inline-block;
                    &:hover {
                        transform: translateY(2px);
                        box-shadow: 0px 5px 10px -5px rgba(255, 255, 255, 0.57);
                    }
                    color: $primary-black;
                    text-decoration: none;
                    font-size: 1em;
                }
            }
        }
    }

    .AboutUs {
        margin-bottom: 4em;
    }

    @media (min-width: 650px) {
        .MainContent {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
    @media (min-width: 1000px) {
        margin: 0 15%;
        .MainContent {
            margin: 5em 0;
        }
        .Heading {
            padding-top: 2em;
            h1 {
                font-size: 3em;
            }
        }
    }
    @media (min-width: 1500px) {
        margin: 0 20%;
    }
}
