.Wrapper {
	background-color: #fff;
	box-shadow: #979797 1px 1px 3px;
}

.Graph {
	height: 300px;
	padding: 0 10px 10px;
}

@media (min-width: 800px) {
	.Graph {
		min-height: 350px;
		padding: 10px 30px 0px;
		height: calc(100vh - 350px);
	}
}
